@import "../../global/styles/colours.css"

 body{
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  background-color: #bd3b81;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 25px;
}
.navbar .right{
  float: right;
  padding: 15px 15px 5px 0px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.leftcolumn {
  float: left;
  width: 15%;
  height: 100%;
  padding-left: 20px;
  background-color: #9c3b82;
}
.leftcolumn a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 35px;
}
.leftcolumn a span {
  padding: 5px;
  color: white;
  font-size: 20px;
}
h2{
  color: #9c3b82;
  padding-left: 20px;
  margin-bottom: 0;
}
.rightcolumn {
  float: left;
  width: 83.33%;
  height: 100%;
  overflow: scroll;
}
.rightcolumn img{
  width: 100%;
  height: 150px;
}
.card {
  background-color: #b0dad8 ;
  max-width: 200px;
  margin: 15px;
  float:left;
  text-align: center;
  font-family: arial;
  border-radius: 12px;
  overflow: hidden;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 15px;
}
.card .card-top{
  background: #fff;
  width: 100%;
  float: right;
}
.card .card-top a{
  text-decoration: none;
  padding: 6px;
  float: right;
}
.card .card-top a .fa{
  font-size: 25px;
}
.card .card-top a .fa-pencil{
  color: #111;
}
.card .card-top a .fa-trash-o{
  color: red;
}
.card-plus{
  max-width: 200px;
  float:left;
  text-align: center;
}
.card-plus .fa-plus-circle{
  font-size: 50px;
  color: #9c3b82;
  padding: 100px;
}

