@import "../../global/styles/colours.css";
@import "../../global/styles/buttons.css";



#collator-grid{
    display:grid;
    margin-top: 10px;
    grid-template-columns: 0.25fr 0.75fr;
}

#overview h1{
    margin:auto;
    margin-bottom: 20px;
}

#order-stats li:nth-child(even){
    margin-bottom: 20px;
}
#overview{
    display:flex;
    flex-direction: column;
    border: solid 5px var(--btn-main);
    border-radius: 30px;
    height:100%;
    padding-top:10px;
    padding-bottom: 70%;
    padding-left:20px;
    padding-right:20px;
}

#search-flex{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#search{
    font-size: 12px;
    width:50%;
    height:25%;
}
#breakdown-header{
    display:flex;
    justify-content: space-around;
}

#breakdown-list{
    display:flex;
    width:50%;
    margin-right:20vw;
    justify-content: space-around;
}

#breakdown-header p{
    margin-right: 8vw;;
}
#order-breakdown{
    margin:20px 30px;
}
hr{
    border-top:2px solid var(--dark);
}

.btn{
    font-size: 12px;
    padding:9px 15px;
    background-color: var(--btn-main);
}

.order-grid-wrap{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.visible-order:nth-child(1){
    font-size: 17px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, 0.2fr) minmax(0, 0.5fr); 
}

.visible-order:nth-child(2){
    display:flex;
    justify-content: space-around;
    width:45%;
    margin-left:12vw;
}

.visible-order:nth-child(2) img{
    height:30px;
}

.order:nth-child(even){
    background-color: var(--accent-pink-light);
}