@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "../../global/styles/colours.css";


*{
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin:0;
    font-size: 14px;
}
/* TODO - Make the Nav and Sidebar responsive */

/* Styling the Nav */
#page-logo{
    display:flex;
    align-items: center;
    width:10%;
}

#page-logo img{
    height:50px;
}

nav{
    color:var(--light);
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--portal-top-navbar);
    box-shadow: 0px 2px 10px var(--medium);
    height:11vh;
}

nav ul{
    display:flex;
    justify-content: space-around;
    width:20%;
    margin-left:70vw;
    padding:0 20px;
}

ul img{
    height:25px;
    margin:0 10px;
}
/* Styling the Sidebar */
.sidebar-wrapper{
    display:flex;
}

.sidebar-wrapper .sidebar{
    position:fixed;
    width:200px;
    height:100%;
    background-color: var(--portal-side-navbar);
}

.sidebar-wrapper a{
    display:flex;
    padding:15px 0;
    align-items: center;
    color: var(--body-text-on-dark);
    font-weight:bold;
}

.sidebar-wrapper a:hover,
.sidebar-wrapper svg:hover{
    background-color: var(--bg-main);
    color: var(--body-text-on-light);
    fill:inherit;
    transition: all ease 0.3s;
}

svg path {
    transition: all ease 0.3s;
  }

.sidebar svg{
    margin: 0 10px;
}

#portal-sections{
  width: 75%;
  min-width: 40%;
  margin-left: clamp(15%, 16%,25%);
}

/*Sidebar images*/
#dashboard-icon{
    background-image: url('../../global/icons/dashboard-white-48dp.svg');
}
#shopping-list-icon{

}
#menu-manager-icon{

}
#orders-icon{

}

