
/*Button styles*/
.btn {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    border-radius:10px;
    padding: 0.8em 1.8em;
    border:none;
    cursor: pointer;
    text-align: center;
}

.btn-regular{
    color: var(--body-text-on-light);
    background-color: var(--btn-main);
} 

.btn-critical {
    color: var(--body-text-on-dark);
    background-color: var(--btn-critical);
}

.btn-call-to-action {
    color: var(--body-text-on-dark);
    background-color: var(--btn-alt);
}

.btn-outline{
    border: var(--btn-alt) 3px solid;
    color: var(--btn-alt);
    background-color: var(--bg-main);
}