/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "colours.css";
@import "buttons.css";
@import "website_nav_footer.css";

*{
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size:20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{

    max-width: 100vw;
}

input, button{
    outline: none;
}

.spinner-div{
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: #ffe6f5b9; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: blink 1.5s ease-in-out infinite alternate;
    -webkit-animation: blink 1.5s ease-in-out infinite alternate;
}

.spinner{
    border: var(--accent-pink-light) 4px solid;
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    border-top-color: var(--primary-dark);
    border-left-color: var(--primary-main);
    animation: infinite 0.8s spin ease-in;
    -webkit-animation: infinite 0.5s spin linear;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

@keyframes blink{
    from{
        background-color:  #ffe6f5b9;
    }
    to{
        background-color: #fff5fbb9;
    }
}

.hidden{
    display: none;
    opacity: 0;
    height: 0;
    width:0;
}

/* 
.show{
    display: block;
    opacity:1;
    height: 100%;
    width: 100%;
    transition: all 1s ease;
} */

#shopping-cart-icon{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

#cart-counter{
    background-color: var(--info);
    border-radius: 50%;
    font-size: 0.6em;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    font-weight: bold;
}

#page-title{
    color: var(--title-text-on-light);
    font-weight: bold;
    font-size: 40px;
}

input:invalid{
    border: var(--critical) 1px solid;
}
