/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

svg {
    fill:white;  
}

/* Global Styling for the nav */
nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color: #9C3B82;
    color:white;
    height:10vh;
    padding:0 20px;
}

nav ul{
    display:flex;
    justify-content: space-around;
    width:40%;
    margin:auto;
}

nav a{
    color:white;
}

nav img{
    height:150px;
}
/* Global Styling for the newsletter */

nav svg{
    margin:0 10px;
}


/* Global Styling for the footer */