/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "colours.css";
@import "buttons.css";
@import "website_nav_footer.css";

*{
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size:20px;
}
