@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    font-size: 14px;
}
/* TODO - Make the Nav and Sidebar responsive */

/* Styling the Nav */
#page-logo{
    display:flex;
    color:white;
    align-items: center;
    width:10%;
}

#page-logo img{
    height:120px;
}

#horizontal{
    display:flex; 
    justify-content: space-around;
    align-items: center;
    background-color: #BC3B81;
    height:12vh;
}

#horizontal ul{
    display:flex;
    justify-content: space-around;
    width:23%;
    margin-left:77vw;
    padding:0 20px;
}

/* Styling the Sidebar */
.wrapper{
    display:flex;
    position: relative;
}

.wrapper .sidebar{
    position:fixed;
    width:200px;
    height:100%;
    background-color: #9C3B82;
}

.wrapper a{
    display:flex;
    padding:15px 0;
    align-items: center;
    color:white;
    font-weight:bold;
}

.wrapper a:hover,
.wrapper svg:hover{
    background-color: white;
    color:black;
    fill:inherit;
    transition: all ease 0.3s;
}

svg path {
    transition: all ease 0.3s;
  }

.sidebar svg{
    margin: 0 10px;
}

.hidden{
    display:none;
}