#page-title-div {
	margin-bottom: 2.5em;
}

#title-cart-list-group{
	width: 100%;
	height: 100%;
}

#cart-list {
	display: grid;
	grid-template-columns: 0.8fr 1.5fr 0.5fr 1fr 0.5fr 0.25fr;
	width: 100%;
	height:100%;
	font-size: 0.9em;
}

#cart-list > * {
	width: 100%;
	height: 20vh;
	display: flex;
	align-items: center;
	padding: 0 0.5em;
}

#cart-list > .header{
	height: fit-content;
}

#cart-list > .footer{
	height: fit-content;
}

#cart-list .feature-img {
	width: 100%;
	height: 20vh;
	object-fit: cover;
	display: flex;
	align-items: center;
	padding: 0.5em 0;
}

.remove,
.add,
.subtract {
	cursor: pointer;
}

.qty::-webkit-outer-spin-button,
.qty::-webkit-inner-spin-button,
#cvv::-webkit-outer-spin-button,
#cvv::-webkit-inner-spin-button,
#card-num::-webkit-inner-spin-button,
#card-num::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.qty[type="number"] {
	-moz-appearance: textfield;
}

.qty-counter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.qty {
	background-color: transparent;
	width: 5em;
	padding: 0.5em;
	text-align: center;
	border: none;
	font-size: 20px;
}

.remove-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#cart-list hr {
	border-top: var(--dark) 2px solid;
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin: 0.5em 0;
	height: 2px;
}

#card-and-checkout {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 40vw;
}

#shopping-cart-div {
	padding: 2em;
	display: flex;
	justify-content: space-around;
}

.row-even {
	background-color: var(--panel-bg-main-lighter);
}

.spinner-div {
	min-height: 70vh;
}

.cpanel {
	border-style: solid;
	border-width: 4px;

	margin-left: 1em;
	padding: 7%;

	border-radius: 60px;
	min-height: 60vh;
	width: 100%;
}
.cpanel h3 {
	color: var(--title-text-on-light);
}

#card {
	border-color: var(--panel-bg-main);
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
}

#card form{
display: flex;
flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

#card form input[type=text], #card input[type=date], #card input[type=number]{
	border: var(--input-outline) 1px solid;
	height: 2.5em;
	padding: 0.5em;
	border-radius: 5px;
}


#card input, #card label{
	width: 100%;
}

#card label{
	font-size: 0.8em;
}

#card #exp-cvv-group{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 1em;
}

#card-ok-div{
	padding: 1em 4.5em 0 4.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#checkout {
	border-color: var(--accent-pink-main);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#checkout #checkout-table div{
	display: flex;
	justify-content: space-between;
	padding: 0.5em;
}

#total-row{
	background-color: var(--primary-dark);
	color: var(--body-text-on-dark);
	font-weight: bold;
}

#checkout-btn-div{
	padding: 1em 3em 0 3em;
}

#checkout hr{
	border-top: var(--dark) 2px solid;
	border-bottom: none;
	border-left: none;
	border-right: none;
	height: 2px;
}