main {
	display: flex;
	padding: 4em 5em;
}

#page-title{
    margin-bottom: 1em;
}

#contact-info {
	display: grid;
	grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

#contact-info img {
	height: 90%;
	width: 90%;
}

#contact-info a {
	text-decoration: none;
	color: var(--primary-dark);
}

#contact-us-image {
	height: 100%;
	width: 100%;
}

#contact {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: flex-start;
    margin-right: 2em;
}

#send-message{
    border: var(--panel-bg-main) 4px solid;
    border-radius: 40px;
    height: 100%;
    width: 80%;
    padding: 3%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#send-message form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#message-submit-btn{
    align-self: flex-end;
}

#send-message form input, #send-message form textarea{
    border: var(--panel-bg-main) 2px solid;
    border-radius: 6px;
    padding: 0.5em;
}

#send-message form textarea{
    outline:none;
    margin-bottom: 1em;
    resize: none;
}

#send-message h2{
    margin-bottom: 2em;
}