.hidden{
    opacity: 0;
    display: none;
}

.menu-tile{
    width: 20vw;
    height: 40vh;
    background-color: var(--panel-bg-main);
    border-radius: 0 0 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 3fr;
}

.menu-item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item-info h3{
    text-align: center;
    font-size: 15px;
}

#menu{
    width: 100%;
    grid-area: menu;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2em;
}

#filter{
    height:100%;
    width:100%;
    grid-area: filter;
    background-color: var(--panel-bg-main);
}

main{
    display: grid;
    grid-template-columns: 2.5fr 10fr;
    grid-template-rows: 1fr;
    grid-template-areas: "filter menu";
    width: 100vw;
    gap: 2em;
    padding: 2em;
}






