.menu-tile{
    width: 30%;
    min-height: 50vh;
    background-color: var(--panel-bg-main);
    border-radius: 0 0 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 3fr;
    flex-basis: 30%;
    margin-bottom: 2em;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2S ease;

}

.menu-tile .menu-item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-tile .menu-item-info h3{
    text-align: center;
    font-size: 15px;
}

#menu{
    width: 100%;
    grid-area: menu;
    display:flex;/* 
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2em;
    column-gap: 1em; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#filter{
    height:100%;
    width:100%;
    grid-area: filter;
    background-color: var(--panel-bg-main-lighter);
}

main{
    min-height: 100%;
    position: relative;
}

#menu-content{
    display: grid;
    grid-template-columns: 2.5fr 10fr;
    grid-template-rows: 1fr;
    grid-template-areas: "filter menu";
    width: 100vw;
    gap: 2em;
    padding: 2em;
}

.menu-tile .feature-img {
    object-fit: cover;
    height: 30vh;
    width: 100%;
}

.price-buy-btn{
    background-color: var(--light);
    padding: 0.5em;
    border-radius: 2px;
    cursor: pointer;
}

.price-buy-btn:hover{
    background-color: var(--sucess);
    color: var(--body-text-on-dark);
    font-weight: bold;
}

.expanded-menu-tile{
    border: 4px var(--panel-bg-main) solid;
    background-color: var(--panel-bg-alt);
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -ms-transition: all 0.8S ease;
    flex-basis: 100%;
    min-height: 60vh;
    display: grid;
    grid-template-columns: 3fr 4fr 0.2fr;
    column-gap: 2em;
    margin-bottom: 2em;
    border-radius: 0 30px 30px 0;
}

.close, .add, .subtract {
    cursor: pointer;
}

.expanded-menu-tile .menu-item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em;
    height: 100%;
    width: 100%;
}

.expanded-menu-tile .menu-item-info .qty-price{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2em;
    width: 100%;
    margin-top: 2em ;
}

.qty-counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}

.qty{
    height: 100%;
    background-color: var(--medium);
    width: 5em;
    padding: 0.5em;
    text-align: center;
}

.action-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.expanded-menu-tile .feature-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 