<nav>
    <img id="logo" src='../static/assets/client/sweet-b-long.png' alt='sweet-b-long'>
    <ul id="nav-links">
        <li><a href='index.html'>HOME</a></li>
        <li>
            <div class="nav-separator"></div>
        </li>
        <li><a href='menu.html'>SHOP</a></li>
        <li>
            <div class="nav-separator"></div>
        </li>
        <li><a href='menu.html'>MENU</a></li>
        <li>
            <div class="nav-separator"></div>
        </li>
        <li><a href='contact.html'>CONTACT US</a></li>
        <li>
            <div class="nav-separator"></div>
        </li>
        <li><a href='about.html'>ABOUT</a></li>
    </ul>
    <div id='nav-icons'>
        <!--Shopping Cart SVG-->
        <a href="#">
            <div id="shopping-cart-icon"></div>
        </a>
        <!--Profile SVG-->
        <a href="#">
            <div id="account-icon"></div>
        </a>
    </div>
</nav>