<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="../static/css/global.css">
</head>


<body>
    <nav>
        <img id="logo" src='../static/assets/client/sweet-b-long.png' alt='sweet-b-long'>
        <ul id="nav-links">
            <li><a href='index.html'>HOME</a></li>
            <li><div class="nav-separator"></div></li>
            <li><a href='menu.html'>SHOP</a></li>
            <li><div class="nav-separator"></div></li>
            <li><a href='menu.html'>MENU</a></li>
            <li><div class="nav-separator"></div></li>
            <li><a href='contact.html'>CONTACT US</a></li>
            <li><div class="nav-separator"></div></li>
            <li><a href='about.html'>ABOUT</a></li>
        </ul>
    </nav>
</body>
</html>